.wrapper {
  display:inline-block;
  position:relative;
  width: 100%;
}

.searchBar {
  width: 100%;
  border: none;
  border-bottom: solid 1px rgb(200, 200, 200);
  height: 20px;
  padding: 12px;
  margin-bottom: 10px;
}

input,
button {
    background-color:transparent;
    border:0;
}

input:focus {
  border-bottom: solid 2px rgb(84, 47, 216);
  outline: none;
}

button:focus {
  outline: none;
}

button {
  position:absolute;
  right:0;
  top:0;
  cursor: pointer;
}

input {
  padding-right:30px; /* button padding */
}